/* estilo principal do footer */
footer {
    width: vh;
    min-height: 250px;
    margin-top: 80px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: linear-gradient(-45deg, #377BB6, #007251);

    color: white;
    padding: 40px 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* estilo do título principal no footer */
footer h3 {
    text-align: center;
    font-size: 32px;
    font-weight: 200;
}

/* container que envolve o conteúdo do footer */
.footer-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    width: 100%;
    max-width: 900px;
}

/* bloco de realização e projeto com alinhamento central */
.realizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* título de cada bloco dentro do footer */
.realizacao h4 {
    font-size: 1.2rem;
    margin: 15px;
    font-weight: normal;
}

/* estilo para listas sem marcadores e sem espaçamentos */
.realizacao ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* itens da lista com espaçamento inferior */
.realizacao ul li {
    font-size: 1rem;
    margin-bottom: 5px;
}

/* estilo da div que substitui a imagem da logo no footer */
.logo-background {
    width: 250px; 
    height: 87px; 
    background-image: url('../../../assets/logo-branca-satc.png'); 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
}
