.sobre{
    margin-inline: 10%;

    h3{
        font-size: 32px;
        color: white;
    }
    .cards-sobre{
        display: flex;
        justify-content: center;
        gap: 60px;

        width: 100%;
        .card{
            padding: 50px;
            border-radius: 30px;
            background: linear-gradient(45deg, #383838, #333333);
            box-shadow: 10px 10px 16px #00000080;

            width: 280px;
            height: 180px;

            color: white;

            h4{
                font-size: 2rem;
                margin: 0;
            }
            p{
                font-size: 1rem;
            }
        }
    }
}