<header id="header" class="header">

  <div class="header-nav">
    <p-menubar [model]="items" styleClass="header-menu"></p-menubar>
  </div>


  <!-- <nav class="header-nav">
    <ul>
      <li><a routerLink="/#header" routerLinkActive="active">Início</a></li>
      <li><a routerLink="/acoes" routerLinkActive="active">Ações</a></li>
      <li><a routerLink="/criar-acao" routerLinkActive="active">Criar Ação</a></li>
      <li><a routerLink="/sobre" routerLinkActive="active">Sobre</a></li>
    </ul>
  </nav> -->

  <div class="link-header">
      <h2>Nos dê uma força!</h2>

      <a>Se Juntar</a>
  </div>
</header>