<header id="header" class="header">
  <div class="header-nav">
    <nav class="nav-menu">
      <a
        href="#inicio"
        [class.active]="selected === 'inicio'"
        (click)="selectMenu('inicio')"
        >Início</a
      >
      <a
        href="#acoes"
        [class.active]="selected === 'acoes'"
        (click)="selectMenu('acoes')"
        >Ações</a
      >
      <a
        href="#cadastro"
        [class.active]="selected === 'cadastro'"
        (click)="selectMenu('cadastro')"
        >Criar Ações</a
      >
      <a
        href="#sobre"
        [class.active]="selected === 'sobre'"
        (click)="selectMenu('sobre')"
        >Sobre</a
      >
    </nav>
  </div>

  <div class="link-header">
    <h2>Nos dê uma força!</h2>

    <a routerLink="cadastro">Se Juntar</a>
  </div>
</header>
