<header id="header" class="header">

<!--   <ng-template #start>
    @for (menu of menus(); track $index) {
    <p-button [icon]="menu.icon" [label]="menu.label" class="mr-2"
    (onClick)="selectMenu($index)"
    [routerLink]="menu.route"
      text
      [severity]="menu.selected ? 'primary': 'secondary'"
    />
    }
  </ng-template> -->


    <nav class="header-nav">
      <ul>
        <li><a routerLink="/#header" routerLinkActive="active">Início</a></li>
        <li><a routerLink="/acoes" routerLinkActive="active">Ações</a></li>
        <li><a routerLink="/criar-acao" routerLinkActive="active">Criar Ação</a></li>
        <li><a routerLink="/sobre" routerLinkActive="active">Sobre</a></li>
      </ul>
    </nav>

    <div class="link-header">
        <h2>Nos dê uma força!</h2>

        <a>Se Juntar</a>
    </div>
</header>