.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  height: 100vh;

  background: #fff;
  background-image: url('../../../assets/header-doa-facil.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* NAV fixa no topo */
.header-nav {
  position: fixed;
  top: 20px;
  z-index: 999;

  background-color: rgba(217, 217, 217, 0.3);
  backdrop-filter: blur(30px);

  border-radius: 20px;
  padding: 10px 20px;

  display: flex;
  justify-content: center;
}

/* Lista dos links de navegação */
.nav-menu {
  display: flex;
  gap: 20px;
}

.nav-menu a {
  color: #373737;
  text-decoration: none;

  font-size: 18px;
  font-weight: 400;

  padding: 8px 16px;
  border-radius: 20px;

  transition: background 0.3s, color 0.3s;
}

.nav-menu a.active,
.nav-menu a:hover {
  background-color: #2ba8d8;
  color: #ffffff;
}

/* Bloco inferior com título e botão */
.link-header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: linear-gradient(#00000000, #000);
  width: 100%;
  height: 400px;

  color: white;
}

.link-header h2 {
  font-size: 64px;
  font-weight: 200;

  margin: 20px;
  margin-inline: 10%;
}

.link-header a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 200;
  font-size: 32px;
  color: white;

  width: 200px;
  height: 65px;

  margin-inline: 10%;
  border-radius: 100px;

  background-color: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(50px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

  transition: 250ms;
  text-decoration: none;
  cursor: pointer;
}

.link-header a:hover {
  background-color: rgba(28, 28, 28, 0.5);
}
