
<section class="indicadores">
    
    <div class="card-indicadores">
        <div class="indicador">
            <span>{{ countAction() }}</span>
            <h5>Contribuintes</h5>
        </div>
        <div class="indicador">
            <span>{{ countContribuildings() }}</span>
            <h5>Ações</h5>
        </div>

    </div>
    <h6>Aqui, cada hora doada se transforma em impacto</h6>

</section>

<button (click)="incrementCounterContribuildings()">Aumentar Contribuintes</button>
<button (click)="incrementCounterAction()">Aumentar Ações</button>

<section class="impacto">
    
    <h3>Impacto Esperado</h3>
    
    <div class="cards-impacto">
        <div class="card">
            <h4>Conexão</h4>
            <p>Facilitamos o acesso ao apoio social, permitindo que qualquer pessoa contribua com causas sociais de forma prática, independentemente da sua localização ou condição financeira.</p>
        </div>
        <div class="card">
            <h4>Mobilidade</h4>
            <p>Ao conectar instituições e comunidade, fortalecemos o engajamento coletivo e promovemos uma rede ativa de solidariedade e ação social contínua, sem barreiras geográficas ou financeiras.</p>
        </div>
    </div>
</section>